/*************************\
    # Font
\*************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-exbold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/*************************\
    # Global
\*************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 69.375rem;
  margin-inline: auto;
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
body {
  background-color: #fffdfa;
}

.desktop__hidden {
  display: none;
}

@media (max-width: 768px) {
  .desktop__hidden {
    display: block;
  }

  .container {
    max-width: 37.5rem;
    padding: 0 16px;
  }
}
