/*************************\
    # Nav
\*************************/
@use "variables" as *;

.nav {
  position: relative;
  @media (max-width: 768px) {
    display: none;
    position: absolute;
    top: -28px;
    right: -100px;

    &.nav__open {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      z-index: 9;
    }
  }

  &__list {
    display: flex;
    column-gap: 40px;
    @media (max-width: 768px) {
      z-index: 9;
      flex-direction: column;
      background-color: #fff;
      width: 256px;
      height: 100vh;
      row-gap: 24px;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 26px;
    color: $color-text;

    &:hover {
      color: $color-Soft-red;
    }
  }
}
