@use "variables" as *;

.nav {
  position: relative;
  @media (max-width: 768px) {
    display: none;
  }

  &__list {
    display: flex;
    column-gap: 40px;
  }

  &__link {
    font-size: 15px;
    line-height: 26px;
    color: $color-text;

    &:hover {
      color: $color-Soft-red;
    }
  }
}
